.card {
  display: flex;
  position: relative;
  background-color: var(--neutral-50);
  border-radius: 1.5rem;
  gap: var(--spacing-200);
  &__pkmn {
    &Data {
      display: flex;
      text-decoration: none;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--spacing-200);
      padding: var(--spacing-200) 0;
      &__portrait {
        max-height: 200px;
        width: 200px;
        &Container {
          border-radius: 1.5rem 0 0 1.5rem;
          padding: var(--spacing-100);
        }
      }
      &__id {
        color: var(--neutral-500);
        font-family: var(--font-mono);
        font-variation-settings: "wght" 400;
        font-feature-settings: "zero";
      }
      &__name {
        font-size: var(--fs-step-5);
        font-variation-settings: "wght" 700;
        color: var(--neutral-950);
      }
      &__types {
        display: inline-flex;
        gap: var(--spacing-100);
        &__type {
          //font-family: var(--font-text);
          text-transform: uppercase;
          background-color: var(--neutral-200);
          color: var(--neutral-950);
          border-radius: 1rem;
          //font-weight: 700;
          font-variation-settings: "wght" 600;
          padding: var(--spacing-25) var(--spacing-150);
        }
      }
      &__meta {
        display: flex;
        gap: var(--spacing-100);
      }    
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
  }
}